{% extends "base.html" %}
{% block content %}
<form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}
    <div id="register-username" class="form-group d-flex flex-column align-items-center">
        {{ form.username.label(class="form-label") }}<br/>{{ form.username(class="form-control") }}<br/>
        {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div id="register-email" class="form-group d-flex flex-column align-items-center">
        {{ form.email.label(class="form-label") }}<br/>{{ form.email(class="form-control") }}<br/>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div id="register-password" class="form-group d-flex flex-column align-items-center">
        {{ form.password.label(class="form-label") }}<br/>{{ form.password(class="form-control") }}<br/>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div id="register-confirm" class="form-group d-flex flex-column align-items-center">
        {{ form.confirm_password.label(class="form-label") }}<br/>{{ form.confirm_password(class="form-control") }}<br/>
        {% for error in form.confirm_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <div id="register-submit" class="form-group d-flex flex-column align-items-center">
        {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
    </div>
</form>
{% endblock %}